{{extend 'layout-interna.html'}}
<h1>ALTERAR SENHA</h1>
<hr>
{{=form.custom.begin}} 
<div class="form-group">
	<label for="old_password">Senha atual</label>
	{{=form.custom.widget.old_password}}
</div>

<div class="form-group">
	<label for="new_password">Senha</label>
	{{=form.custom.widget.new_password}}
</div>

<div class="form-group">
	<label for="new_password2">Confirme a senha</label>
	{{=form.custom.widget.new_password2}}
</div>

<input class="btn btn-primary" value="Salvar" type="submit">
<a href="{{=URL('sistema','index.html')}}" class="btn btn-primary">Voltar</a>

{{=form.custom.end}}
